<% if @cached %>
  <div class="alert alert-warning flash-message" role="alert">
    <span>
      <%= I18n.t("cached_notification") %>
    </span>
  </div>
<% end %>

<div class="search-form">
  <%= render partial: "search_form" %>
</div>

<div id="search_results">
  <%= render partial: "search_results", locals: { :path => :discover_path } %>
</div>
